@*代理人*@
<div class="form-group">
    <div class="frame-wrap">
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="jqAgentRadio_0" name="AgentRadio" value="0" checked>
            <label class="custom-control-label" for="jqAgentRadio_0">無</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="jqAgentRadio_1" name="AgentRadio" value="1">
            <label class="custom-control-label" for="jqAgentRadio_1">1人</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="jqAgentRadio_2" name="AgentRadio" value="2">
            <label class="custom-control-label" for="jqAgentRadio_2">2人</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="jqAgentRadio_3" name="AgentRadio" value="3">
            <label class="custom-control-label" for="jqAgentRadio_3">3人</label>
        </div>
    </div>
</div>

@*代理人1*@
<div class="panel-tag getag1">
    代理人1
</div>
<div class="form-group getag1">
    <label class="form-label" for="name_Ag1">代理人1姓名</label>
    <input type="text" id="name_Ag1" name="name_Ag1" class="form-control">
    <div class="invalid-feedback">
        請輸入代理人姓名
    </div>
</div>
@*性別*@
<div class="form-group getag1">
    <label class="form-label">
        性別:
        <span class="text-danger">*</span>
    </label>
    <div class="frame-wrap padding-top-ten">
        <div class="custom-control custom-radio custom-control-inline custom-radio-rounded">
            <input type="radio" class="custom-control-input" id="genderRadio_Ag1_1" name="genderRadio_Ag1" value="1">
            <label class="custom-control-label" for="genderRadio_Ag1_1">男</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline custom-radio-rounded">
            <input type="radio" class="custom-control-input" id="genderRadio_Ag1_2" name="genderRadio_Ag1" value="0">
            <label class="custom-control-label" for="genderRadio_Ag1_2">女</label>
            <div class="invalid-feedback">
                請選擇代理人性別
            </div>
        </div>
    </div>
</div>
@*出生年月日*@
<div class="form-group getag1">
    <label class="form-label" for="birthday_Ag1">生日</label>
    <span class="text-danger">*</span>
    <div class="input-group">
        <input type="text" class="form-control birthday" placeholder="請選擇生日" id="birthday_Ag1" name="birthday_Ag1">
        <div class="input-group-append">
            <span class="input-group-text fs-xl">
                <i class="fal fa-calendar-check"></i>
            </span>
        </div>
        <div class="invalid-feedback">
            請選擇生日
        </div>
    </div>
</div>
@*身分證字號*@
<div class="form-group getag1">
    <label class="form-label" for="IDnumber_Ag1">身分證字號</label>
    <input type="text" id="IDnumber_Ag1" name="IDnumber_Ag1" class="form-control">
    <div class="invalid-feedback">
        請輸入身分證字號
    </div>
</div>
@*連絡電話*@
<div class="form-group getag1">
    <label class="form-label" for="phonenumber_Ag1">連絡電話</label>
    <input type="text" id="phonenumber_Ag1" name="phonenumber_Ag1" class="form-control">
    <div class="invalid-feedback">
        請輸入連絡電話
    </div>
</div>
@*戶籍地址*@
<div class="form-group getag1">
    <label class="form-label">戶籍地址</label>
    <span class="text-danger">*</span>
    <div class="row">
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_city" data-index="11">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇縣/市
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_district" data-index="11">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇鄉/鎮/市/區
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_road" data-index="11" name="road_address_Ag1">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇街/路
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <input type="text" name="elseaddress_Ag1" class="form-control" placeholder="ex.108號1樓">
        </div>
    </div>
</div>
@*通訊地址*@
<div class="form-group getag1">
    <div class="row pb-2">
        <div class="col-12">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input sameaddress" id="sameaddress_Ag1" name="sameaddress_Ag1" data-index="11">
                <label class="custom-control-label" for="sameaddress_Ag1">同戶籍地址</label>
            </div>
        </div>
    </div>
    <label class="form-label">通訊地址</label>
    <span class="text-danger">*</span>
    <div class="row">
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_city select_contact_11" data-index="11">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇縣/市
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_district select_contact_11" data-index="11">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇鄉/鎮/市/區
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_road select_contact_11" data-index="11" name="road_contact_Ag1">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇街/路
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <input type="text" name="elseaddress_contact_Ag1" class="form-control select_contact_11" data-index="11" placeholder="ex.108號1樓">
        </div>
    </div>
</div>

@*代理人2*@
<div class="panel-tag getag2">
    代理人2
</div>
<div class="form-group getag2">
    <label class="form-label" for="name_Ag2">代理人2姓名</label>
    <input type="text" id="name_Ag2" name="name_Ag2" class="form-control">
    <div class="invalid-feedback">
        請輸入代理人姓名
    </div>
</div>
@*性別*@
<div class="form-group getag2">
    <label class="form-label">
        性別:
        <span class="text-danger">*</span>
    </label>
    <div class="frame-wrap padding-top-ten">
        <div class="custom-control custom-radio custom-control-inline custom-radio-rounded">
            <input type="radio" class="custom-control-input" id="genderRadio_Ag2_1" name="genderRadio_Ag2" value="1">
            <label class="custom-control-label" for="genderRadio_Ag2_1">男</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline custom-radio-rounded">
            <input type="radio" class="custom-control-input" id="genderRadio_Ag2_2" name="genderRadio_Ag2" value="0">
            <label class="custom-control-label" for="genderRadio_Ag2_2">女</label>
            <div class="invalid-feedback">
                請選擇代理人性別
            </div>
        </div>
    </div>
</div>
@*出生年月日*@
<div class="form-group getag2">
    <label class="form-label" for="birthday_Ag2">生日</label>
    <span class="text-danger">*</span>
    <div class="input-group">
        <input type="text" class="form-control birthday" placeholder="請選擇生日" id="birthday_Ag2" name="birthday_Ag2">
        <div class="input-group-append">
            <span class="input-group-text fs-xl">
                <i class="fal fa-calendar-check"></i>
            </span>
        </div>
        <div class="invalid-feedback">
            請選擇生日
        </div>
    </div>
</div>
@*身分證字號*@
<div class="form-group getag2">
    <label class="form-label" for="IDnumber_Ag2">身分證字號</label>
    <input type="text" id="IDnumber_Ag2" name="IDnumber_Ag2" class="form-control">
    <div class="invalid-feedback">
        請輸入身分證字號
    </div>
</div>
@*連絡電話*@
<div class="form-group getag2">
    <label class="form-label" for="phonenumber_Ag2">連絡電話</label>
    <input type="text" id="phonenumber_Ag2" name="phonenumber_Ag2" class="form-control">
    <div class="invalid-feedback">
        請輸入連絡電話
    </div>
</div>
@*戶籍地址*@
<div class="form-group getag2">
    <label class="form-label">戶籍地址</label>
    <span class="text-danger">*</span>
    <div class="row">
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_city" data-index="12">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇縣/市
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_district" data-index="12">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇鄉/鎮/市/區
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_road" data-index="12" name="road_address_Ag2">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇街/路
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <input type="text" name="elseaddress_Ag2" class="form-control" placeholder="ex.108號1樓">
        </div>
    </div>
</div>
@*通訊地址*@
<div class="form-group getag2">
    <div class="row pb-2">
        <div class="col-12">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input sameaddress" id="sameaddress_Ag2" data-index="13" name="sameaddress_Ag2">
                <label class="custom-control-label" for="sameaddress_Ag2">同戶籍地址</label>
            </div>
        </div>
    </div>
    <label class="form-label">通訊地址</label>
    <span class="text-danger">*</span>
    <div class="row">
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_city select_contact_13" data-index="13">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇縣/市
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_district select_contact_13" data-index="13">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇鄉/鎮/市/區
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_road select_contact_13" data-index="13" name="road_contact_Ag2">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇街/路
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <input type="text" name="elseaddress_contact_Ag2" class="form-control select_contact_13" data-index="13" placeholder="ex.108號1樓">
        </div>
    </div>
</div>

@*代理人3*@
<div class="panel-tag getag3">
    代理人3
</div>
<div class="form-group getag3">
    <label class="form-label" for="name_Ag3">代理人3姓名</label>
    <input type="text" id="name_Ag3" name="name_Ag3" class="form-control">
    <div class="invalid-feedback">
        請輸入代理人姓名
    </div>
</div>
@*性別*@
<div class="form-group getag3">
    <label class="form-label">
        性別:
        <span class="text-danger">*</span>
    </label>
    <div class="frame-wrap padding-top-ten">
        <div class="custom-control custom-radio custom-control-inline custom-radio-rounded">
            <input type="radio" class="custom-control-input" id="genderRadio_Ag3_1" name="genderRadio_Ag3" value="1">
            <label class="custom-control-label" for="genderRadio_Ag3_1">男</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline custom-radio-rounded">
            <input type="radio" class="custom-control-input" id="genderRadio_Ag3_2" name="genderRadio_Ag3" value="0">
            <label class="custom-control-label" for="genderRadio_Ag3_2">女</label>
            <div class="invalid-feedback">
                請選擇代理人性別
            </div>
        </div>
    </div>
</div>
@*出生年月日*@
<div class="form-group getag3">
    <label class="form-label" for="birthday_Ag3">生日</label>
    <span class="text-danger">*</span>
    <div class="input-group">
        <input type="text" class="form-control birthday" placeholder="請選擇生日" id="birthday_Ag3" name="birthday_Ag3">
        <div class="input-group-append">
            <span class="input-group-text fs-xl">
                <i class="fal fa-calendar-check"></i>
            </span>
        </div>
        <div class="invalid-feedback">
            請選擇生日
        </div>
    </div>
</div>
@*身分證字號*@
<div class="form-group getag3">
    <label class="form-label" for="IDnumber_Ag3">身分證字號</label>
    <input type="text" id="IDnumber_Ag3" name="IDnumber_Ag3" class="form-control">
    <div class="invalid-feedback">
        請輸入身分證字號
    </div>
</div>
@*連絡電話*@
<div class="form-group getag3">
    <label class="form-label" for="phonenumber_Ag3">連絡電話</label>
    <input type="text" id="phonenumber_Ag3" name="phonenumber_Ag3" class="form-control">
    <div class="invalid-feedback">
        請輸入連絡電話
    </div>
</div>
@*戶籍地址*@
<div class="form-group getag3">
    <label class="form-label">戶籍地址</label>
    <span class="text-danger">*</span>
    <div class="row">
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_city" data-index="14">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇縣/市
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_district" data-index="14">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇鄉/鎮/市/區
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_road" data-index="14" name="road_address_Ag3">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇街/路
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <input type="text" name="elseaddress_Ag3" class="form-control" placeholder="ex.108號1樓">
        </div>
    </div>
</div>
@*通訊地址*@
<div class="form-group getag3">
    <div class="row pb-2">
        <div class="col-12">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input sameaddress" id="sameaddress_Ag3" name="sameaddress_Ag3" data-index="15">
                <label class="custom-control-label" for="sameaddress_Ag3">同戶籍地址</label>
            </div>
        </div>
    </div>
    <label class="form-label">通訊地址</label>
    <span class="text-danger">*</span>
    <div class="row">
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_city select_contact_15" data-index="15">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇縣/市
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_district select_contact_15" data-index="15">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇鄉/鎮/市/區
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_road select_contact_15" data-index="15" name="road_contact_Ag3">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇街/路
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <input type="text" name="elseaddress_contact_Ag3" class="form-control select_contact_15" data-index="15" placeholder="ex.108號1樓">
        </div>
    </div>
</div>
